name: Build and Release

on:
  push:
    branches:
      - main
  # 允许手动触发
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os: [windows, linux, darwin]
        arch: [amd64, arm64]
        exclude:
          - os: windows
            arch: arm64

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.23'

      - name: Install dependencies
        run: go mod tidy

      - name: Build
        env:
          GOOS: ${{ matrix.os }}
          GOARCH: ${{ matrix.arch }}
        run: |
          if [ "${{ matrix.os }}" = "windows" ]; then
            go build -o vulnDb-Notifier-${{ matrix.os }}-${{ matrix.arch }}.exe ./cmd/CVENotifier
          else
            go build -o vulnDb-Notifier-${{ matrix.os }}-${{ matrix.arch }} ./cmd/CVENotifier
          fi

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: vulnDb-Notifier-${{ matrix.os }}-${{ matrix.arch }}
          path: |
            vulnDb-Notifier-${{ matrix.os }}-${{ matrix.arch }}*

  release:
    needs: build
    runs-on: ubuntu-latest
    # 只有在手动触发或推送到main分支时才发布
    if: github.event_name == 'workflow_dispatch' || (github.event_name == 'push' && (github.ref == 'refs/heads/main' || github.ref == 'refs/heads/master'))
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          path: artifacts

      - name: Generate release tag
        id: generate_tag
        run: |
          # 生成基于当前日期和时间的标签
          TAG_NAME="v$(date +'%Y.%m.%d.%H%M')"
          echo "tag_name=$TAG_NAME" >> $GITHUB_OUTPUT

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ steps.generate_tag.outputs.tag_name }}
          files: artifacts/**/*
          generate_release_notes: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}